---
title: "[Planned Maintenance] Login.gov identity verification services unavailable for residents of Arkansas"
url: "https://status.login.gov/incidents/f1hnh9pj7645"
date: "2026-03-29"
feed_url: "https://status.login.gov/history.atom"
---
Mar 29 , 14:00 EDT Completed - The scheduled maintenance has been completed. Mar 29 , 10:01 EDT In progress - Scheduled maintenance is currently in progress. We will provide updates as necessary.
