---
title: "Partial outage for Identity Verification"
url: "https://status.login.gov/incidents/x6mn8x5dxkh2"
date: "2026-05-14"
feed_url: "https://status.login.gov/history.atom"
---
May 14 , 15:07 EDT Resolved - This incident has been resolved. May 14 , 09:47 EDT Update - In-person identity proofing is disabled while we investigate issues with one of our proofing vendors. All other services are functioning normally at this time.
